<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!--For mobile phones-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap links-->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fontAwesom/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="height: 52px">
            <div class="header">
                    <a class="navbar-brand" href="{% url 'index' %}">AskMeArthur <i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
            <div class="search">
                <form class="form-search">
                    <input type="text" class="input-medium search-query" placeholder="Serch">
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
            <!--here authorize or not-->
            {% if isAuthorized %}
            <div class="nav navbar-nav navbar-right">
                <img src="/static/img/user.svg" class="rounded-circle userAvatar">
                <div class="userInfo">
                    <div class="userName">Dr.Pepper</div>
                    <div class="userOptions">
                        <a href="{% url 'settings'%}">Options</a>
                        <a href="">Sign Out</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="userInfo">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login'%}">Sign In</a> </li>
                    <li><a href="{% url 'signup'%}">Sign Up</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="content">
        <div class="left">
            {% block content %}{% endblock %}
        </div>
        <div class="right">
            <div class="tags">
                <fieldset>
                    <legend class="bot">Popular tags</legend>
                    <a href="{% url 'questionsbytag'%}">Tag1</a>
                    <a href="{% url 'questionsbytag'%}">Tag2</a>
                    <a href="{% url 'questionsbytag'%}">Tag3</a>
                </fieldset>
            </div>
            <div class="bestMembers">
                <legend>Best members</legend>
                <table class="table table-bordered">
                    <tbody>
                        <tr><td><a href="">Mr.Freeman</a></td></tr>
                        <tr><td><a href="">Dr.House</a></td></tr>
                        <tr><td><a href="">Bender</a></td></tr>
                        <tr><td><a href="">Homer</a></td></tr>
                        <tr><td><a href="">Rick</a></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>