{% extends "base.html"%}

{% block title %} Top Questions {% endblock %}

{% block content %}
        <div class="SignUp">
            <form class="form-horizontal" action='' method="POST">
                <fieldset>
                    <div id="legend">
                        <legend class="">Register</legend>
                    </div>
                    <div class="form-group row">
                        <label for="nickname-input" class="col-3 col-form-label">Username</label>
                        <div class="col-9">
                            <input class="form-control" type="text" placeholder="Dr.pepper" id="nickname-input"
                                   required>
                        </div>
                        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                    </div>
                    <div class="form-group row has-danger">
                        <label for="email-input" class="col-3 col-form-label">E-mail</label>
                        <div class="col-9">
                            <input class="form-control form-control-danger" type="email"
                                   placeholder="dr.pepper@mail.ru" id="email-input" required>
                        </div>
                        <p class="help-block">Please provide your E-mail</p>
                    </div>
                    <div class="form-group row has-warning">
                        <label for="password-input" class="col-3 col-form-label">Password</label>
                        <div class="col-9">
                            <input class="form-control form-control-warning" type="password"
                                   id="password-input"
                            required>
                        </div>
                        <p class="help-block">Password should be at least 4 characters</p>
                    </div>
                    <div class="form-group row has-danger">
                        <label for="repeat-password-input" class="col-3 col-form-label">Confirm password</label>
                        <div class="col-9">
                            <input class="form-control form-control-danger" type="password"
                                   id="repeat-password-input"
                            required>
                        </div>
                        <p class="help-block">Please confirm password</p>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
{% endblock %}