<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>

    <!--For mobile phones-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap links-->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fontAwesom/css/font-awesome.min.css">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="height: 52px">
        <div class="header">
            <a class="navbar-brand" href="index.html">AskMeArthur <i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
        <div class="search">
            <form class="form-search">
                <input type="text" class="input-medium search-query" placeholder="Serch">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
        <div class="nav navbar-nav navbar-right">
            <img src="/static/img/user.svg" class="rounded-circle userAvatar">
            <div class="userInfo">
                <div class="userName">Dr.Pepper</div>
                <div class="userOptions">
                    <a href="settings.html">Options</a>
                    <a href="login.html">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="left">
        <div class="userSettings">
            <div id="legend">
                <legend class="">Settings: Dr.Pepper</legend>
            </div>
            <form class="settings-form">
                <div class="form-group row has-success">
                    <label for="login-input" class="col-3 col-form-label">Login</label>
                    <div class="col-9">
                        <input class="form-control form-control-success" type="text" placeholder="dr_pepper"
                               id="login-input">
                    </div>
                </div>
                <div class="form-group row has-danger">
                    <label for="email-input" class="col-3 col-form-label">E-mail</label>
                    <div class="col-9">
                        <input class="form-control form-control-danger" type="email" placeholder="dr.pepper@mail.ru"
                               id="email-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nickname-input" class="col-3 col-form-label">Username</label>
                    <div class="col-9">
                        <input class="form-control" type="text" placeholder="Dr.pepper" id="nickname-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="prev-pass-input" class="col-3 col-form-label">Old password</label>
                    <div class="col-9">
                        <input class="form-control" type="text" id="prev-pass-input">
                    </div>
                </div>
                <div class="form-group row has-warning">
                    <label for="password-input" class="col-3 col-form-label">New password</label>
                    <div class="col-9">
                        <input class="form-control form-control-warning" type="password" id="password-input">
                    </div>
                </div>
                <div class="form-group row has-danger">
                    <label for="repeat-password-input" class="col-3 col-form-label">Confirm password</label>
                    <div class="col-9">
                        <input class="form-control form-control-danger" type="password" id="repeat-password-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="photo-input" class="col-3 col-form-label custom-file">Upload photo</label>
                    <div class="col-9">
                        <img src="/static/img/user.svg" class="photoImg">
                        <label class="userPhotoFile">
                            <input type="file" id="photo-input" name="f" class="custom-file-input">
                            <span class="custom-file-control" id="name-file" value="Choose file"></span>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success">Apply changes!</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="tags">
            <fieldset>
                <legend class="bot">Popular tags</legend>
                <a href="">Tag1</a>
                <a href="">Tag2</a>
                <a href="">Tag3</a>
            </fieldset>
        </div>
        <div class="bestMembers">
            <legend>Best members</legend>
            <table class="table table-bordered">
                <tbody>
                <tr><td><a href="">Mr.Freeman</a></td></tr>
                <tr><td><a href="">Dr.House</a></td></tr>
                <tr><td><a href="">Bender</a></td></tr>
                <tr><td><a href="">Homer</a></td></tr>
                <tr><td><a href="">Rick</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>